/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}
#tbl-peoples {
    width: 100% !important;
}

.page-title-info {
    color: gray;
}
.btnEdit {
    border-color: #aaa !important;
}

.btnDelete {
    border-color: #aaa !important;
}

/** Configuracion Datatables  **/

.pagination {
    float: right;
}

.dataTables_info {
    color: #aaa !important;
    padding-top: 26px !important;
}

.pagination {
    padding-top: 18px !important;
}

/*.loadingTable {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    white-space: nowrap;
    top: 123px;
}

.dataTables_length label {
    font-weight: normal;
    color: #808080;
}

.dataTables_filter label {
    font-weight: normal !important;
    float: right;*/
    /*color: #337AB7;*/
    /*color: #808080 !important;
}

.dataTables_filter label {
    font-weight: normal !important;
    float: right;*/
    /*color: #337AB7;*/
    /*color: #808080 !important;*/
    /*max-width: none !important;*/
/*}

.dataTables_filter input[type="search"] {
    width: 200px !important;
    margin-left: 10px !important;
}*/

/* Fin Configuracion Datatables*/

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    font-size: .8em;
    height: 100px;
    text-align: center;
    color:gray;
}

.page-content-persist {
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 0;
    background-color: #F2F2F2;
}

.page-content {
    padding: 15px 30px 30px 30px;
    background-color: #f2f2f2;    
}
