@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewData["Title"] = "401 Acceso Denegado";
}

<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>Oops!!</h1>
    <h1>Sorry, Acceso Denegado!</h1>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID: </strong> <code>@Model.RequestId</code>
        </p>
    }
    <p>
        Usted no tiene permiso para ver esta página.
        Contacte con el administrador del sistema para revisar sus privilegios de acceso.

    </p>
    <a href="@Url.Action("Index", "Dashboard")" class="btn btn-xs btn-success">Volver Dashboard</a>
</div>

@if (Model.DoRedirect)
{
    <script>
        window.setTimeout(function () {
            window.location.href = '@Url.Action("index", "dashboard")';
        }, 10000);
    </script>
}