@model AppWeb.ViewModel.UsuarioViewModel
@using JqueryDataTables.ServerSide.AspNetCoreWeb.TagHelpers
@{
    Layout = "/Views/Shared/_LayoutBase.cshtml";
    ViewData["Title"] = "Listado de Personas";
}


@Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<p class="text-center">Lista de Personas</p>*@
                        <h3 class="page-title-info">Usuarios</h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input type="text" id="txtExternalSearch" class="form-control" placeholder="Ingrese texto de búsquedad..." aria-label="External Search" aria-describedby="btnExternalSearch">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="btnExternalSearch">Buscar</button>
                            </div>
                        </div>
                        <jquery-datatables id="tbl-peoples"
                                           class="table table-striped table-hover table-bordered table-list-fc"
                                           model="@Model"
                                           thead-class="text-center"
                                           enable-searching="false"
                                           search-row-th-class="p-0"
                                           search-input-class="form-control form-control-sm"
                                           search-input-style=""
                                           search-input-placeholder-prefix="Buscar">
                        </jquery-datatables>
                        <partial name="/Views/Security/_Create.cshtml" model="Model" />
                        <div id="editPartial"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
